[Unit]
Description=Infisical Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/infisical agent --config /etc/infisical/agent-config.yaml
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
