TMPDIR=/dev/shm/authentik-worker
VENV_PATH=/opt/authentik/.venv
PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1
RUST_BACKTRACE=full
PATH=/opt/authentik/lifecycle:/opt/authentik/.venv/bin:/usr/local/bin:/usr/local/sbin:/usr/sbin:/usr/bin:/sbin:/bin
DJANGO_SETTINGS_MODULE=authentik.root.settings
PROMETHEUS_MULTIPROC_DIR=/tmp/authentik_prometheus_tmp
AUTHENTIK_LISTEN__HTTP=127.0.0.1:{{ authentik_worker_http_port }}
AUTHENTIK_LISTEN__HTTPS=127.0.0.1:{{ authentik_worker_https_port }}
AUTHENTIK_LISTEN__METRICS=127.0.0.1:8300
