DATABASE_URL="postgresql://patchmon_usr:{{ patchmon_db_password }}@localhost:5432/patchmon_db"
JWT_SECRET="{{ patchmon_jwt_secret }}"
SESSION_SECRET="{{ patchmon_session_secret }}"
AI_ENCRYPTION_KEY="{{ patchmon_ai_encryption_key }}"
CORS_ORIGIN=http://{{ ansible_host }}:{{ patchmon_port }}
PORT={{ patchmon_port }}
APP_ENV=production

REDIS_HOST=localhost
REDIS_PORT=6379

AGENT_BINARIES_DIR=/opt/patchmon/agents
SSG_CONTENT_DIR=/opt/patchmon/ssg-content
